				<!-- calendar area -->
					<div class="panel panel-flat">
						
						<div class="panel-heading">
							<h5 class="panel-title">Calendario</h5>
							<div class="heading-elements">
								<ul class="icons-list">
			                		<li><a data-action="collapse"></a></li>
			                		<li><a ng-click="cargarCalendario()" data-action="reload"></a></li>
			                		<li><a data-action="close"></a></li>
			                	</ul>
		                	</div>
						</div>
						<div class="panel-body">
							<div id='wrap'>

								<div id='external-events'>
									<h4>Audiencias</h4>
									<div class='fc-event'>Juicio (Jesus Sanchez)</div>
									<div class='fc-event'>Juicio (Marcelo Camacho)</div>
									<div class='fc-event'>Juicio (Manuel Aponte)</div>
									<div class='fc-event'>Juicio (Jose Parra)</div>
									<div class='fc-event'>Juicio (Juan Benavides)</div>
									<div class='fc-event'>Juicio (Monica Naranjo)</div>
									
									<p>
										<input type='checkbox' id='drop-remove' />
										<label for='drop-remove'>Remover despues de agregar</label>
									</p>
								</div>

								<div id='calendar'></div>

								<div style='clear:both'></div>

							</div>
						</div>
					</div>

				</div>
				<!-- /content area -->
