<div class="row">
    <div class="col s12 m7 l7">
        <div class="row card-panel">
            <form class="col s12">
            <div class="row">
                <div class="input-field col s12">
                    <input  id="titulo" type="text" class="validate" ng-model="data.titulo" ng-value="data.titulo" >
                    <label for="titulo">Titulo</label>
                </div>

                <div class="row">
                    <div class="col s12">
                    <div class="row">
                        <div class="input-field col s12">
                        <i class="material-icons prefix">textsms</i>
                        <input type="text" id="autocomplete-input" class="autocomplete">
                        <label for="autocomplete-input">Autocomplete</label>
                        </div>
                    </div>
                    </div>
                </div>
        

                <div class="input-field col s6">
                     <input  id="inicio" readonly type="datetime-local" step="1" ng-model="data.inicio" ng-value="data.inicio">  
                </div>
                <div class="input-field col s6">
                     <input  id="fin" readonly type="datetime-local" step="1" ng-model="data.fin" ng-value="data.fin">  
                </div>

            


                <div class="input-field col s12">
                    <textarea  id="descripcion" class="materialize-textarea" ng-model="data.descripcion" ng-value="data.descripcion"></textarea>
                    <label for="descripcion">Descripcion</label>
                </div>
        
                

            </div>
            <div class="row">
                <div class="col s12">
                    <a id="post" class="waves-effect waves-light btn-large blue right"><i class="material-icons right">cloud</i>Listo</a>
                </div>
            </div>
            </form>
        </div>
    </div>
    <div class="col s12 m4 l4">
       <div class="row">
         <div class="col s11 offset-s1">
             <span class="flow-text">6-columns (offset-by-6)</span>
         </div>

       </div>
    </div>
</div>