<div class="row">

    <div class="col s12 m7 l7">
        <div class="row card-panel">
            <form class="col s12">
            <div class="row">

                <div class="input-field col s5">
                    <input ng-enter="buscarCaso();" id="numero" type="number" class="validate" ng-model="data.numero_caso" ng-value="data.numero_caso" >
                    <label for="titulo">Número de Causa</label>
                </div>

                 <div ng-show="origenProgramador == true" class="col s7">
                    <div  class="chip right chip_sala">
                        {{sala}}
                    </div>
                </div>

           


            </div>

            <div ng-show="tipoDePersonasAgregadas.length != 0" class="row col s12 chip">
                {{descripcion_caso}}
            </div>

            <div class="row">   
                <div class="input-field col s12">
                    <select disabled ng-model="selTipoTribunal"  class="browser-default" ng-change="mostrarTribunal();mostrarActividad();" ng-options="x.id as x.descripcion for x in JSONtipoTribunal">
                        <option value="" disabled selected>Seleccionar Tipo de Tribunal</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s4">
                    <select disabled id="tribunal" ng-model="data.id_tribunal" class="browser-default" ng-options="y.id as y.numero for y in JSONTribunal">
                        <option value="" disabled selected>Seleccionar Tribunal</option>
                    </select> 
                </div>


                <div class="input-field col s8">
                    <select disabled id="actividad" ng-model="data.id_actividad" class="browser-default" ng-options="z.id as z.actividad for z in JSONActividad">
                        <option value="" disabled selected>Seleccionar Actividad</option>
                    </select>
                </div>

               
        

                <div ng-show="origenProgramador == true" class="input-field col s6">
                     <input  id="inicio" readonly type="datetime-local" step="1" ng-model="data.inicio" ng-value="data.inicio">  
                </div>
                <div ng-show="origenProgramador == true" class="input-field col s6">
                     <input  id="fin" readonly type="datetime-local" step="1" ng-model="data.fin" ng-value="data.fin">  
                </div>

            


                <div class="input-field col s12">
                    <textarea ng-keyup="aMayusculas($event);" ng-blur="aMayusculas($event);" disabled  id="descripcion" name="descripcion" class="materialize-textarea" ng-model="data.descripcion" ng-value="data.descripcion"></textarea>
                    <label for="descripcion">Descripción</label>
                </div>
        
                

            </div>
            <div ng-show="existeParam === false" class="row">
                <div class="col s12">
                    <a id="post" class="waves-effect waves-light btn-large blue right">Listo</a>
                </div>
            </div>
            </form>
        </div>
    </div>
    <div class="col s12 m4 l4">
       <div class="row">
         <div class="col s11 offset-s1">
             <span class="flow-text">Personas involucradas</span>
             <p ng-show="tipoDePersonasAgregadas.length == 0">Por favor, ingrese un número de caso para visualizar personas involucradas</p>
         </div>

       </div>

       <div class="row col s11 offset-s1">
            <div ng-repeat="x in tipoDePersonasAgregadas" class="chip" alt="{{x.cedula}}" title="{{x.cedula}}">
                <img src="assets/images/icon-user.png" alt="Contact Person">
                {{x.nombres}}
                <span>{{x.tipo}}</span>
                <i class="close material-icons">close</i>
            </div>
    </div>
</div>