   <div ng-tabs class="tabbable">
        <ul class="nav nav-tabs">
            <li ng-tab-head="active">
                <a href="#" ng-click="$event.preventDefault()">Generales</a>
            </li>
            <li ng-tab-head>
                <a href="#" ng-click="$event.preventDefault()">Programador</a>
            </li>
            <li ng-tab-head>
                <a href="#" ng-click="$event.preventDefault()">Tablas de Datos</a>
            </li>
            <li ng-tab-head>
                <a href="#" ng-click="$event.preventDefault()">Notificaciones</a>
            </li>

        </ul>
        <div class="tab-content" style="overflow: hidden">
            <div ng-tab-body="animated fadeInRightBig" class="tab-pane">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea nihil numquam cumque vero quisquam id facilis a fuga laborum perferendis, minus, ad, tempora deleniti iste consequatur eveniet eaque, repudiandae enim.</p>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam totam, nihil, accusantium voluptatum quo fugiat atque hic similique obcaecati harum nisi neque rem aliquid quos tempora, officiis nam nostrum beatae!</p>
            </div>

            <div ng-tab-body="animated fadeInRightBig" class="tab-pane">
            

                <li>Mostrar numero de la semanas</li>
                <li>Establecer los dias como enlaces</li>
                <li>Timezone</li>
                <li>Permitir arrastrar audiencias dentro del programador</li>
                <li>Permitir arrastrar audiencias desde la seccion de audiencias pendientes</li>
                <li>Permitir seleccionar un rango de horas dentro del programador</li>
                <li>Permitir la superpocision de audiencias</li>
                <li>Indicar momento actual en el programador</li>
                <li>Intervalo de tiempo entre horas</li>
                <li>Vista por defecto: </li>
                <li>Horario de Trabajo: 
                    <ul>
                        <li>Dias de trabajo</li>
                        <li>Hora de entrada</li>
                        <li>Hora de Salida</li>
                        <li>Hora minima a mostrar en calendario</li>
                        <li>Hora maxima a mostrar en calendario</li>
                        
                    </ul>
                </li>
            </div>

            <div ng-tab-body="animated fadeInRightBig" class="tab-pane">
                <p>tab3</p>
            </div>

            <div ng-tab-body="animated fadeInRightBig" class="tab-pane">
                <p>tab4</p>
            </div>
            

            </div>
        </div>
    </div>

