<table id="example" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Operacion</th>
                <th>Tabla</th>
                <th>Registro Anterior</th>
                <th>Registro Nuevo</th>
                <th>Usuario</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Fecha</th>
                <th>Operacion</th>
                <th>Tabla</th>
                <th>Registro Anterior</th>
                <th>Registro Nuevo</th>
                <th>Usuario</th>
            </tr>
        </tfoot>
       
    </table>