<div class="container">
    <div class="row">
        <div class="col m6 l6 hide-on-med-and-down">
            <h2>Bienvenido</h2>
            <p><b>{{app_name}}</b> permite la gestion de audiencias del el circuito judicial de San Felipe, Yaracuy.</p>
            <p>Por favor, para ingresar al sistema, introduzca su cedula de identidad y clave, en caso de no tener una cuenta, solicitala aca</p>
            <button class="btn btn-large blue waves-effect waves-light" type="button" name="action">Solicitar cuenta
                <i class="material-icons right">send</i>
            </button>
        </div>
        <div class="col m6 l6">
            <h2 class="center-align">Ingresar</h2>
            <div class="row">
                <form class="col s12" autocomplete="off">
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="cedula" type="text" class="validate" ng-model="datos.cedula" required>
                            <label for="cedula">Cedula de Identidad</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="clave" type="password" class="validate" ng-model="datos.clave" required>
                            <label for="clave">Clave</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s9">
                            <input type="text" readonly id="txtCaptcha"/>
                            <input type="text" id="txtInput" placeholder="Escribe lo que ves en la imagen"/>
                        </div>
                        <div class="col s2">
                            <button class="btn orange darken-4 waves-effect waves-light" type="button" id="btnrefresh"><i class="material-icons">refresh</i></button>
                            
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <p>
                                <input type="checkbox" id="remember">
                                <label for="remember">Recordar sesion</label>
                            </p>
                        </div>
                    </div>
                    <div class="divider"></div>
                    <div class="row">
                        <div class="col m12">
                            <p class="right-align">
                                <button class="btn blue darken-4 waves-effect waves-light" type="button" id="login" name="login">Adelante</button>
                            </p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>