<div class="row">
    <div class="col s4 message-box ">
        <div class="row">
            <div class="col s12">
                <input type="text" ng-model="search" placeholder="Buscar">
            </div>
            <div class="col s12 center">
                <button class="btn waves-effect waves-light blue tooltipped" data-position="bottom" data-delay="50" data-tooltip="Mensaje de Difusion" ng-click="openModal('difusion')"><i class="material-icons">notifications</i></button>
                <button class="btn waves-effect waves-light blue tooltipped" data-position="bottom" data-delay="50" data-tooltip="Mensaje directo" ng-click="openModal('directo')"><i class="material-icons">drafts</i></button>
                <button class="btn waves-effect waves-light blue tooltipped" data-position="bottom" data-delay="50" data-tooltip="Mensaje de grupo" ng-click="openModal('grupal')"><i class="material-icons">people</i></button>
            </div>
        </div>
        <ul ng-show="notificaciones != null" class="collection message-box">
            <li ng-repeat="x in notificaciones | filter : search" class="collection-item avatar" ng-click="cargarMensaje(x.id_notificaciones_usuario);" id="{{x.id_notificaciones_usuario}}">
                <img src="assets/images/{{x.icon}}" alt="" class="circle">
                <span ng-show="x.status == 1" style="font-weight:bold;" class="title">
                                    {{x.emisor}}
                                    <br>
                                    {{x.title}}
                                </span>
                <span ng-show="x.status == 0" style="font-weight:normal;" class="title">
                                    {{x.emisor}}
                                    <br>
                                    {{x.title}}
                                </span>
             
            </li>
        </ul>

        <div class="center" ng-show="notificaciones == null">
            No hay notificaciones
        </div>
    </div>
    <div id="box-message" class="col s7  offset-s4">
        <div ng-show="existe_mensaje === false" class="col s12 m12">
            <span class="header" id="dashboard-titulo">Por favor, seleccione una notificacion en la barra lateral izquierda</span>
        </div>
        <div ng-show="existe_mensaje === true" class="col s12 m12">
            <span class="header" id="dashboard-titulo">Asunto: {{data_not.asunto}}</span>
            <div class="card horizontal">
                <div class="card-stacked">
                    <div class="card-content">
                        <p><i class="material-icons" style="font-size:10px;">language</i> {{data_not.fecha}}</p>
                        <br>
                        <p><b>Mensaje:<b></p>
                <p>{{data_not.mensaje}}</p>
                </div>
                <div class="card-action">
                <button class="waves-effect waves-green btn-flat" ng-click="eliminarNotificacion()">Eliminar esta notificacion</button>
                </div>
            </div>
            </div>
        </div>


    </div>

    
</div>


<!-- Modal Structure -->
  <div id="modal1" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h4>{{ventana_titulo}}</h4>   
        
    <div ng-show="tipo == 1" class="row col s12">
        <div class="input-field col s12">
          <input name="title" type="text" class="validate"  ng-model="datos.title" ng-value="datos.title" required>
          <label class="active" for="title">Asunto</label>
        </div>

        <div class="input-field col s12">
            <textarea id="body" name="body" class="materialize-textarea" ng-model="datos.body" ng-value="datos.body"></textarea>
            <label class="active" for="body">Mensaje</label>
        </div>


    </div>
    <div ng-show="tipo == 2" class="row col s12">
        <div class="input-field col s12">
          <select id="rol" name="rol" class="browser-default" ng-model="datos.rol">
            <option value="ADMINISTRADOR">ADMINISTRADORES</option>
            <option value="USUARIO COMUN">USUARIOS COMUNES</option>
            <option value="USUARIO ESPECIAL">USUARIOS ESPECIALES</option>
            <option value="SECRETARIA">SECRETARIAS</option>
          </select>
          <label class="active" for="rol">Seleccionar un grupo</label>

         
        </div>

        <div class="input-field col s12">
          <input name="title" type="text" class="validate"  ng-model="datos.title" ng-value="datos.title" required>
          <label class="active" for="title">Asunto</label>
        </div>

        <div class="input-field col s12">
            <textarea  id="body" name="body" class="materialize-textarea" ng-model="datos.body" ng-value="datos.body"></textarea>
            <label class="active" for="body">Mensaje</label>
        </div>
    </div>
    <div ng-show="tipo == 3" class="row col s12">
        <div class="input-field col s12">
          <select id="user" name="user" class="browser-default" ng-model="datos.user">
            <option ng-repeat="x in usuarios" value="{{x.cedula}}">{{x.nombres}} {{x.apellidos}} ({{x.nivel}})</option>
            
          </select>
          <label class="active" for="user">Seleccionar un usuario</label>

         
        </div>

        <div class="input-field col s12">
          <input name="title" type="text" class="validate"  ng-model="datos.title" ng-value="datos.title" required>
          <label class="active" for="title">Asunto</label>
        </div>

        <div class="input-field col s12">
            <textarea id="body" name="body" class="materialize-textarea" ng-model="datos.body" ng-value="datos.body"></textarea>
            <label class="active" for="body">Mensaje</label>
        </div>
    </div>

     

<!--       <div class="row">


        <div class="input-field col s12 m12 l6">
          <input name="email" type="email" class="validate" ng-keyup="aMayusculas($event);" ng-blur="aMayusculas($event);" ng-model="datos.email" ng-value="datos.email" required>
          <label class="active" for="email">Email</label>
        </div>

        <div class="input-field col s12 m12 l6">
          <input name="telefono" id="telefono" type="text" class="validate" ng-model="datos.telefono" ng-value="datos.telefono" required>
          <label class="active" for="telefono">Teléfono</label>
        </div>

        
  

      </div> -->




      
       

    </div>
    <div class="modal-footer">
      <a href="" ng-click="closeModal('#modal1', 'cancelar');modalAction('cancelar')" class="waves-effect waves-green btn-flat">Cancelar</a>
      <a href="" ng-click="closeModal('#modal1', 'ok');modalAction('ok')" id="addRow" class="waves-effect waves-green btn-flat">OK</a>
    </div>
  </div>