/* CODIGO PERSONALIZADO PARA LA PAGINA EN GENERAL - INICIO */
* {
	font-weight: 300;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select:none;
    cursor:default;
}
#imgCont {
	background:#eeeeee;
	width:auto;
	height:500px;
	padding: 5px 5px 5px 5px;
	border: 1px solid #cccccc;
	margin-top:10px;
	overflow: auto;
}

#imgCont .icono {
    display: inline-block;
    width:100px;
    height:100px;
    margin-top:3px;
    text-align:center;
	
}
.selected {
    background:rgba(0,0,0,.3);
    border:#000000;
}

#imgCont .icono:hover {
    background:rgba(0,0,0,.3);
    border:#000000;
	
}

#imgCont .icono img {
    width:60px;
    height:60px;
	
}
.evento-finalizado {
  background: red;
}
#imgCont .icono p {
    font-weight: 500;
    margin-top:0px;
    width:100%;
    height:auto;
    word-wrap: break-word;
    text-align:center;
	
}
.content-message {
    height:400px;
    overflow:hidden;
}
tfoot input {
        width: 100%;
        padding: 3px;
        box-sizing: border-box;
    }

    pre {
        border:1px solid black;
        padding:5px 5px;
        background:#202220;
        color:#FFFB02;
        font-size:12px;
        height:50px;
        font-weight: bold;
    }

    pre .white {
        color:white;
    }

    .minus {
        text-transform: lowercase;
    }

.main-wrap {
position: fixed;
z-index: 1000;
top:0;
left:0;
background-color: #14385f;
color: #fff;
width:100%;
height: 100%;
display: flex;
justify-content:center;
align-items:center;    
transition:all ease-out 2s;
}

#loader-wrapper .loader {
height: 200px;
width: 200px;
margin-left: -100px;
margin-right: auto;
margin-top: 0;
position: relative;
left:50%;
right: 50%;
top: 0;
-moz-border-radius: 50% 50% 50% 50%;
-webkit-border-radius: 50% 50% 50% 50%;
border-radius: 50% 50% 50% 50%;
}
#loader-wrapper .loader .siteref {
bottom: 16px !important;
display: block;
font-size: 10px;
left: 10px;
margin: 0 auto;
position: absolute;
right: 0;
width: 100% !important;
}
#loader-wrapper.main-wrap .child-common
{
width: 80px;
height: 80px;
background-color: #FFF;
-webkit-animation: animate7 1s infinite ease-in-out;
animation: animate7 1s infinite ease-in-out;
margin-right: auto;
margin-left: auto;
margin-top: 60px;
}


@-webkit-keyframes animate7 {
0% { -webkit-transform: perspective(160px); }
50% { -webkit-transform: perspective(160px) rotateY(-180deg); }
100% { -webkit-transform: perspective(160px) rotateY(-180deg) rotateX(-180deg); }
}

@keyframes animate7 {
0% { 
transform: perspective(160px) rotateX(0deg) rotateY(0deg);
-webkit-transform: perspective(160px) rotateX(0deg) rotateY(0deg); 
} 50% { 
transform: perspective(160px) rotateX(-180deg) rotateY(0deg);
-webkit-transform: perspective(160px) rotateX(-180deg) rotateY(0deg) ;
} 100% { 
transform: perspective(160px) rotateX(-180deg) rotateY(-180deg);
-webkit-transform: perspective(160px) rotateX(-180deg) rotateY(-180deg);
}
}


/* latin-ext */
@font-face {
  font-family: 'Barrio';
  font-style: normal;
  font-weight: 400;
  src: local('Barrio Regular'), local('Barrio-Regular'), url(../fonts/ls-_SA5kU_96PIKsj4eeYPesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Barrio';
  font-style: normal;
  font-weight: 400;
  src: local('Barrio Regular'), local('Barrio-Regular'), url(../fonts/qC9DkIiXyrH5oRNKaVpE0g.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

#txtCaptcha {
  background-image:url('../images/captcha.JPG'); 
  text-align:center; 
  border:none;
  font-weight:bold; 
  font-size:2em; 
  font-family:'Barrio';
}

.autocomplete {
  position: absolute;
  margin-top:-19px;
  width: 97%;
  display: none;
  z-index: 9999;
  height: 150px;
  max-height: 150px;
  overflow: auto;
  border:none;
}
.autocomplete li {
  font-size: 12px !important;
   border:none !important;
   padding: 5px !important;
}
.autocomplete li:hover {
  background: #0d47a1 !important;
  color:#ffffff !important;

}


nav {
	border:none;
	box-shadow:none;
} 
#mobile-demo {
  overflow: hidden;
}
span#dashboard-titulo {
	font-size:2em;
	padding-left:20px;
}

.toolbar, .toolbar li a {
	height: 64px;
}
.toolbar.toolbar-left {
	border-right: 1px solid white;
	padding-right:20px;
}
.toolbar.toolbar-left li a {
	height: 64px;
	border-top:5px solid transparent;
	border-bottom:5px solid transparent;
	transition:all ease-in-out 0.3s;
	-webkit-transition:all ease-in-out 0.3s;
}
.toolbar.toolbar-left  li a:hover {
	background: transparent;
	border-top:5px solid white;
	border-bottom:5px solid white;
	transition:all ease-in-out 0.3s;
	-webkit-transition:all ease-in-out 0.3s;
}
#mobile-demo ul li a {
	font-size: 1.1em;
	text-transform: capitalize;
  color:white;
}
.contenedor {
  margin-top:20px;
  width: 90%;
  border-radius: 5px 5px 5px 5px;
}

/* CODIGO PERSONALIZADO PARA LA PAGINA EN GENERAL - INICIO */

/* CODIGO PERSONALIZADO PARA EL SEARCH DEL DATATABLE - INICIO */

input[type=search]{
  border:none !important;
  border-bottom:2px solid #2196F3 !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  border-radius:0px 0px 0px 0px !important;
  -webkit-border-radius:0px 0px 0px 0px !important;
  trasition: background ease-in-out .3s !important;
  -webkit-trasition: background ease-in-out .3s !important;
}

input[type=search]:focus{
  trasition: background ease-in-out .3s !important;
  -webkit-trasition: background ease-in-out .3s !important;
  border-bottom:2px solid #0D47A1 !important;
}
/* CODIGO PERSONALIZADO PARA EL SEARCH DEL DATATABLE - FIN */

/* CODIGO PERSONALIZADO PARA EL SCROLLBAR - INICIO */

::-webkit-scrollbar {
    width: 5px;
    background: #14385f;
}
 
::-webkit-scrollbar-track {

}
 
::-webkit-scrollbar-thumb {
  background: #14385f;
}
/* CODIGO PERSONALIZADO PARA EL SCROLLBAR - INICIO */


.sticky{
  z-index: 2;
}


/* CODIGO PERSONALIZADO PARA PACE (PRELOADER) - INICIO */
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: white;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px;
}
/* CODIGO PERSONALIZADO PARA PACE (PRELOADER) - FIN */

/* CODIGO PERSONALIZADO PARA LOS BOTONES EN EL DATATABLE - INICIO */
a.dt-button.toolbar {
  background: #2196F3;
  height: auto;
  width: 35px;
  font-weight: bold;
  color:white;
  border: 1px solid transparent;
  border-radius: 0px;
  font-size: 1em;
  -webkit-border-radius: 0px;
  margin-left: -6px;
  transition:all linear 0.2s;
  -webkit-transition:all  linear 0.2s;
}
a.dt-button.toolbar:last-child {
  width: 45px;
}
a.dt-button.toolbar:hover,
a.dt-button.toolbar:active {
  background: #0D47A1 !important;
  border: 1px solid transparent !important;
  width: 150px;
  transition:all linear 0.2s;
  -webkit-transition:all  linear 0.2s;
}
a.dt-button.toolbar:focus {
  background: #2196F3 !important;
}


a.dt-button.toolbar.check_all:hover::after {
  content: " Marcar todo";
}
a.dt-button.toolbar.uncheck_all:hover::after {
  content: " Desmarcar todo";
}
a.dt-button.toolbar.copy:hover::after {
  content: " Copiar";
}
a.dt-button.toolbar.excel:hover::after {
  content: " Exportar a Excel";
}
a.dt-button.toolbar.csv:hover::after {
  content: " Exportar a CSV";
}
a.dt-button.toolbar.pdf:hover::after {
  content: " Exportar a PDF";
}

tr.selected {
}

tr th {
    border-radius: 0px 0px 0px 0px !important;

}

input[type=color] {
  background: white;
  border:none;
  width: 100%;
  height: 40px;
  outline: 0px;
}


tr.selected td{
  background: #0D47A1 !important;
  color:white !important;
  border-radius: 0px 0px 0px 0px !important;
  font-weight: 500;
}


.dataTable {

}

.dataTables_paginate a {
  background: transparent !important;
  border: none !important;
  border-radius: 0px 0px 0px 0px !important;


}

.dataTables_paginate a:hover,
.dataTables_paginate a:active,
.dataTables_paginate a:focus {
  border-bottom: 2px solid #0D47A1 !important;
  color: white !important;


}

.dataTables_info {
  color:#0D47A1 !important;
  font-weight: 200 !important;
  font-size: 1.1em !important;
}

.dataTables_empty{
  color:#0D47A1 !important;
  font-weight: 200 !important;
  font-size: 0.8em !important;
}


.elemento_animado {
animation-duration: 0.25s;
transition-timing-function: ease-in;
}
.transicion--fadein {
animation-name: fadeIn;
}
.is-loading {
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        -webkit-transform: translateX(100px);
        transform: translateX(100px);
    }
    100% {
        opacity: 1;
    }
}
select[multiple=multiple] {
    height:140px;

}
.triangulo-equilatero-bottom {
    position:absolute;
    top:-20px;
     width: 0;
     height: 0;
     border-right: 10px solid transparent;
     border-top: 10px solid transparent;
     border-left: 10px solid transparent;
     border-bottom: 10px solid #000000;

}


.event-tooltip {
    display: none;
    background:white;
    border:1px solid #14385f;
    position:absolute;
    z-index:100;
    top:8px;
    left:8px;
    width:400px;
    height:147px;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3), -1px -1px 1px rgba(0,0,0,.3);
}

.event-tooltip .meta {
    width: 100%;
    padding:2px 2px 2px 7px;
    margin-top:-20px;
    word-wrap: break-word;

}
.event-tooltip .meta h2 {
    font-size:1.3em;
    border-bottom: 1px dotted #eee;   
    padding-bottom:3px; 
}
.event-tooltip .meta p {
    margin-top:-12px;
    font-size:0.9em;
}

.event-tooltip .tiempo {
    background:#eee;
    text-align: center;
    border-top:2px solid #ddd;
}
.event-tooltip .tiempo div {
    display: inline-block;
    width: 32%;
}
.event-tooltip .tiempo div p{
    font-size: 0.9em;
    margin-top:-5px;
    margin-bottom:-5px;
}

.event-tooltip .btn-group {
    background:#14385f;
    text-align: center;
}
.event-tooltip .btn-group button, .event-tooltip .btn-group a {
    display:inline-block;
    color:white;
    border:none;
    padding-top: 2px;
    padding-bottom:2px;
    width:32%;
    background:inherit;
    text-transform: uppercase;
    font-weight: 500;
    border-left:1px solid white;
}
.event-tooltip .btn-group button:first-child, .event-tooltip .btn-group a:first-child {
    border-left:none;
}
.event-tooltip .btn-group button:hover, .event-tooltip .btn-group a:hover {
    color:#007fff;
}

/*CODIGO PARA LAS TABS - INICIO  */
.nav {
    margin-left: 0;
    margin-bottom: 20px;
    list-style: none;
}

.nav>li>a {
    display: block;
}

.nav>li>a:hover,
.nav>li>a:focus {
    text-decoration: none;
    background-color: #eeeeee;
}

.nav>li>a>img {
    max-width: none;
}

.nav>.pull-right {
    float: right;
}



	.nav-tabs,
.nav-pills {
    *zoom: 1;
}

.nav-tabs:before,
.nav-pills:before,
.nav-tabs:after,
.nav-pills:after {
    display: table;
    content: "";
    line-height: 0;
}

.nav-tabs:after,
.nav-pills:after {
    clear: both;
}

.nav-tabs>li,
.nav-pills>li {
    float: left;
}

.nav-tabs>li>a,
.nav-pills>li>a {
    padding-right: 12px;
    padding-left: 12px;
    margin-right: 2px;
    line-height: 14px;
}

.nav-tabs {
    border-bottom: 1px solid #ddd;
}

.nav-tabs>li {
    margin-bottom: -1px;
}

.nav-tabs>li>a {
    padding-top: 8px;
    padding-bottom: 8px;
    line-height: 20px;
    border: 1px solid transparent;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
}

.nav-tabs>li>a:hover,
.nav-tabs>li>a:focus {
    border-color: #eeeeee #eeeeee #dddddd;
}

.nav-tabs>.active>a,
.nav-tabs>.active>a:hover,
.nav-tabs>.active>a:focus {
    color: #555555;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
    cursor: default;
}


	.tabbable {
    *zoom: 1;
}

.tabbable:before,
.tabbable:after {
    display: table;
    content: "";
    line-height: 0;
}

.tabbable:after {
    clear: both;
}

.tab-content {
    overflow: auto;
}

.tabs-below>.nav-tabs,
.tabs-right>.nav-tabs,
.tabs-left>.nav-tabs {
    border-bottom: 0;
}

.tab-content>.tab-pane,
.pill-content>.pill-pane {
    display: none;
}

.tab-content>.active,
.pill-content>.active {
    display: block;
}

.tabs-below>.nav-tabs {
    border-top: 1px solid #ddd;
}

.tabs-below>.nav-tabs>li {
    margin-top: -1px;
    margin-bottom: 0;
}

.tabs-below>.nav-tabs>li>a {
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
}

.tabs-below>.nav-tabs>li>a:hover,
.tabs-below>.nav-tabs>li>a:focus {
    border-bottom-color: transparent;
    border-top-color: #ddd;
}

.tabs-below>.nav-tabs>.active>a,
.tabs-below>.nav-tabs>.active>a:hover,
.tabs-below>.nav-tabs>.active>a:focus {
    border-color: transparent #ddd #ddd #ddd;
}

.tabs-left>.nav-tabs>li,
.tabs-right>.nav-tabs>li {
    float: none;
}

.tabs-left>.nav-tabs>li>a,
.tabs-right>.nav-tabs>li>a {
    min-width: 74px;
    margin-right: 0;
    margin-bottom: 3px;
}

.tabs-left>.nav-tabs {
    float: left;
    margin-right: 19px;
    border-right: 1px solid #ddd;
}

.tabs-left>.nav-tabs>li>a {
    margin-right: -1px;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
}

.tabs-left>.nav-tabs>li>a:hover,
.tabs-left>.nav-tabs>li>a:focus {
    border-color: #eeeeee #dddddd #eeeeee #eeeeee;
}

.tabs-left>.nav-tabs .active>a,
.tabs-left>.nav-tabs .active>a:hover,
.tabs-left>.nav-tabs .active>a:focus {
    border-color: #ddd transparent #ddd #ddd;
    *border-right-color: #ffffff;
}

.tabs-right>.nav-tabs {
    float: right;
    margin-left: 19px;
    border-left: 1px solid #ddd;
}

.tabs-right>.nav-tabs>li>a {
    margin-left: -1px;
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
}

.tabs-right>.nav-tabs>li>a:hover,
.tabs-right>.nav-tabs>li>a:focus {
    border-color: #eeeeee #eeeeee #eeeeee #dddddd;
}

.tabs-right>.nav-tabs .active>a,
.tabs-right>.nav-tabs .active>a:hover,
.tabs-right>.nav-tabs .active>a:focus {
    border-color: #ddd #ddd #ddd transparent;
    *border-left-color: #ffffff;
}
/*CODIDO PARA LAS TABS - FIN */
/* CODIGO PERSONALIZADO PARA LOS BOTONES EN EL DATATABLE - FIN */

.toasts {
  background: #14385f;
  color:white;
  font-weight: 600;
  border-radius:0px;
  -webkit-border-radius:0px;
}

#example tbody {
  text-transform: uppercase;
}
#example th {
  text-transform: capitalize !important;
}

.brand-logo {
  margin-top: 3px;
}


/* SOLO PARA MOSTRAR EN TELEFONO*/
@media (max-width: 480px) { 
  .modal {
    width: 100% !important;
    height: 100% !important;
    min-height:100%;
    position: fixed !important;
    top:0px !important;
    border-radius:0px;
    -webkit-border-radius:0px;


  }

  .modal-fixed-footer {
    min-height:100%;
  }

  a.dt-button.toolbar {
    display: none;
  }
}

